:root {
    /* couleurs */
    --couleur-primaire: #9356DC;
    --couleur-secondaire: #FF79DA;
    --couleur-tertiaire: #99E2D0;
    --gris: #f3f3f3;
    --gris-clair: #fafafa;
    --gris-fonce: #4d4d4d;
    --gris-tres-fonce: #353535;
    --blanc: white;
    --noir: black;

    /* typographie */
    --font-size-xs: 0.8em;
    --font-size-base: 1em;
    --font-size-xm: 1.1em;
    --font-size-m: 1.4em;
    --font-size-l: 1.5em;
    --police-texte: "Roboto";
    --police-titre: "Shrikhand", sans-serif;

    /* espaces */
    --espace-xxxs: 0.2em;
    --espace-xxs: 0.4em;
    --espace-xs: 0.8em;
    --espace-s: 1em;
    --espace-m: 1.4em;
    --espace-l: 1.8em;
    --espace-xxxl: 14em;

    /* ombres */
    --ombre-boutton: 5px 5px 10px rgb(190, 190, 190);
    --ombre-bloc: 0px 5px 5px rgb(220, 218, 218);

    /* Rayon de la bordure */
    --rayon-bordure-s: 1em;
    --rayon-bordure-m: 2em;
    --rayon-bordure-rond: 50%;
}

*, ::before, ::after { 
    box-sizing: border-box;
}

body { 
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: var(--police-texte);
}

@media screen and (min-width: 1024px) {
    body > *:not(header) { 
        text-align: left;
    }
}

h2 {
    font-size: var(--font-size-l)
}

ul, ol {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit
}


/* En-tête */
header div {
    white-space: pre-line; 
}

@media screen and (min-width: 1024px) {
    header div {
        white-space: normal; 
    }
}

header div:first-child {
    padding: var(--espace-m);
    box-shadow: var(--ombre-bloc);
    position: relative;
    z-index: 1000;
}

header div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--espace-s);
    background-color: var(--gris);
    font-size: var(--font-size-m);
}

header div:last-child { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--espace-m);
    background-color: var(--gris-clair);
    padding: var(--espace-l);
}

header div:last-child *{
    margin: 0;
}

header div:last-child button {
    background: linear-gradient(to bottom, var(--couleur-secondaire), var(--couleur-primaire));
    border: none;
    border-radius: var(--rayon-bordure-m);
    padding: var(--espace-xs) var(--espace-m);
    color: var(--blanc);
    font-size: var(--font-size-xm);
    box-shadow: var(--ombre-boutton);
}

/* Corps de page */
main section {
    padding: var(--espace-m) var(--espace-xs);
    text-align: left;
}

@media screen and (min-width: 1024px) {
    main section {
        padding: var(--espace-m) var(--espace-xxxl);
    }
}

/* Fonctionnement */
main section:first-child > div {
    padding-left: var(--espace-s);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: var(--espace-l);
}

@media screen and (min-width: 1024px) {
    main section:first-child > div {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

#fonctionnement > div div {
    background-color: var(--gris-clair);
    padding: var(--espace-m);
    border-radius: var(--rayon-bordure-s);
    box-shadow: var(--ombre-bloc);

}

#fonctionnement div a div span:first-child {
    display: inline-block;
    height: var(--espace-m);
    aspect-ratio: 1 / 1;
    background-color: var(--couleur-primaire);
    border-radius: var(--rayon-bordure-rond);
    margin-left: -32px;
    margin-right: var(--espace-xxs);
    color: var(--blanc);
    text-align: center;
    line-height: 1.4;

}

main section:first-child > div div i {
    color: var(--gris-fonce);
}



/* Restaurants */
#restaurants{
    background-color: var(--gris-clair);
}

#restaurants > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: var(--espace-m);
    height: 200vh;
}

@media screen and (min-width: 1024px) {
    #restaurants > div {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    #restaurants > div {
        height: 70vh;
    }
}

.restaurant-card {
    border-radius: var(--rayon-bordure-m);
    overflow: hidden;
    object-fit: cover;
    height: auto;
    position: relative;
    cursor: pointer;
}

.restaurant-card span {
    background-color: #99e2d0;
    color: #418776;
    padding: var(--espace-xxs) var(--espace-xxxs);
    position: absolute;
    top: 15px;
    right: 15px;
}


.restaurant-card img {
    height: 80%;
    width: 100%;
    object-fit: cover;
}

.restaurant-card > div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blanc);
    padding: var(--espace-xxxs) var(--espace-xs);
}

.restaurant-card > div > div {
    line-height: 0.5;
}

.restaurant-card > div > i {
    transition: all ease-in 0.1ms;
}

.restaurant-card > div > i.filled {
    color: red;
}


/* Pied de page */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--espace-xs);
    background-color: var(--gris-tres-fonce);
    color: var(--blanc);
    padding: var(--espace-xs);
}

@media screen and (min-width: 1024px) {
    footer {
        align-items: flex-start;
        padding: var(--espace-xs) var(--espace-xxxl);
    }
}

footer svg{
    height: var(--font-size-base);
    width: auto;
}

footer a{
    font-size: var(--font-size-xs);
}

footer ul{
    margin: 0;
    width: 100%;
}

a i {
    margin-right: var(--espace-xxs)
}